body{
    margin-left: 15%;
    margin-right: 15%;
    background-color:#222629;
    color:white;
}

.nav-itemx{
    visibility: hidden;
}
a{
    text-decoration: none;
    color: aliceblue;
}

.nav-brand{
    float:left;
    font-size: 20px;
    font-weight: bold;
    font-family: "Work Sans";
}
.nav-list{
    list-style-type: none;
}

.nav-list li{
    float:left;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Work Sans";
}

.navbar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.hero .container{
    display: flex;
}
.hero .main-msg{
    width: 75%;
    font-size: 30px;
    font-family: "Work Sans";
    
}
.hero .btn{
    border: 2px orangered solid;
    background-color: orangered;
    font-weight:bold;
    border-radius: 10px;
    padding: 10px;
}

.hero .cta{
    height: fit-content;
    display: flex;
}

.skills .title{
    width: min-content;
    margin: auto;
    font-weight:bold;
    font-family: "Work Sans";
    font-size: 30px;
}

.skills .blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.skills .item-block{
    width: 250px;
    border:1px #464B45 solid;
    background-color: #464B45;
    font-family:"Work Sans";
    color:#3BBA9C;
    font-weight: bold;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}

.projects .blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects .item-block{
    width: 250px;
    border:1px #474B4F solid;
    background-color: #474B45;
    border-radius: 25px;
    padding: 20px;
    font-weight: bold;
    margin: 10px;
    color:#86C232;
    font-family:"Work Sans";

}
.projects .title{
    width: min-content;
    margin: auto;
    font-weight:bold;
    font-family: "Work Sans";
    font-size: 30px;

}

.contact .sect-title{
    width: max-content;
    margin: auto;
    font-size: 25px;
    font-family: "Work Sans";

}

.contact .info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: "Work Sans";
    font-weight: bold;
}

.contact .icon-block{
    width: max-content;
    text-align: center;
    padding: 15px;
}


@media screen and (max-width: 400px){
    
    .main-msg h2{
        font-size: 28px;
    }
    .main-msg .btn{
        font-size: 25px;
    }

    
}
@media screen and (max-width: 969px){
    
    .nav-list{
        display: none;
    }
    .nav-itemx{
        visibility: initial;
    }
    
}

@media screen and ( max-width: 1337px){
    .skills .item-block{
        flex-grow: 1;
    }
    .projects .item-block{
        flex-grow: 1;
    }
    .contact .icon-block{
        flex-grow: 1;
    }
}

@media screen and (max-width:1153px){
    .contact .info{
        display: block;
    }
    .contact .icon-block{
        margin: auto;
    }

    .contact .email{
        font-size:15px;
    }
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    width:max-content;
    font-size: 25px;
    color: white;
    font-family: "Work Sans";
    font-weight: bold;
    font-size:20px;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }